<div class="content" role="main">
  <div style="background: white; border-radius: 3% ; padding: 50px; width: 30%; position: relative">
    <app-login-component [functionEditEstadoParams]="functionEditEstado()" *ngIf="estadoVista"></app-login-component>
    <app-registro-component [functionEditEstadoParams]="functionEditEstado()" *ngIf="!estadoVista"></app-registro-component>
  </div>

</div>

<router-outlet></router-outlet>
