<form>
  <div style="display: flex; justify-content: center">
    <img style="width: 70%"
         src="https://www.donpiso.com/blog/wp-content/uploads/2017/06/google-1015751_960_720.png">
  </div>
  <app-input-component [typeInput]="'password'" [placeholderInput]="'Contraseña'"></app-input-component>
  <app-input-component [typeInput]="'email'" [placeholderInput]="'Correo Electronico'"></app-input-component>
  <app-input-component [typeInput]="'password'" [placeholderInput]="'Contraseña'"></app-input-component>
  <button type="button" style="width: 100%" class="btn btn-outline-primary">Iniciar Sesion</button>
  <app-button-component [typeButton]="'primary'" [texButton]="'Iniciar con Facebook'" [iconButton]="'local_parking'"></app-button-component>
  <app-button-component [typeButton]="'danger'" [texButton]="'Iniciar con Google'" [iconButton]="'alternate_email'"></app-button-component>
  <app-button-component [typeButton]="'success'" (click)="functionEditEstadoParams()" [texButton]="'Registrarse'"></app-button-component>
</form>
