<form>
  <div style="display: flex; justify-content: center">
    <img style="width: 70%"
         src="https://www.donpiso.com/blog/wp-content/uploads/2017/06/google-1015751_960_720.png">
  </div>
  <app-input-component [typeInput]="'text'" [placeholderInput]="'Nombre'"></app-input-component>
  <app-input-component [typeInput]="'text'" [placeholderInput]="'Apellido'"></app-input-component>
  <app-input-component [typeInput]="'text'" [placeholderInput]="'Direccion'"></app-input-component>
  <app-input-component [typeInput]="'email'" [placeholderInput]="'Correo Electronico'"></app-input-component>
  <app-input-component [typeInput]="'password'" [placeholderInput]="'Contraseña'"></app-input-component>
  <app-input-component [typeInput]="'password'" [placeholderInput]="'Repita la contraseña'"></app-input-component>
  <button type="button" style="width: 100%" class="btn btn-outline-primary">Registrar</button>
  <app-button-component [typeButton]="'success'" (click)="functionEditEstadoParams()" [texButton]="'Login'"></app-button-component>
</form>
